<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
    nav {
        background-color: rgb(0, 111, 9);
        height: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px yellow,-1px -1px yellow;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      a {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgba(255, 255, 0, 0.247);
      }

      #blogs{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        font-weight: bold;
        font-size: larger;
      }

      

</style>

<body>
  <nav>
    <ul>
      <li id="blogs">HaPpY BlOgGiNg</li>
      <li><a href="https://rishabhportfolio-76f14.web.app/">Contact</a></li>
      <li><a href="/create-page">Add-Blog</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Blog">About</a></li>
      <li><a href="/">Home</a></li>
      
      
      
    </ul>
  </nav>
</body>
</html>

</body>
</html>